Package: firemenu
Version: 1.2
Section: unknown
Priority: optional
Architecture: all
Essential: no
Depends: firejail, yad
Maintainer: fsmithred@gmail.com
Description: Menu for starting apps in a firejail sandbox.
Replaces: firemenu (<<1.2)
